.App {
  text-align: center;
}

.App-header {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(2,0,36);
  background: radial-gradient( circle at center, rgba(2,0,36,1) 0%, rgba(163,163,190,1) 35%, rgba(0,212,255,1) 100%);
}

h1 {
  color: red;
  background-color: yellow;
  font-family: 'Ink Free';
  padding: 10px;
  border-radius: 10px;
  font-size: 36pt;
  text-shadow: 3px 3px 3px #333;
  box-shadow: 3px 3px 3px #333;
}

button {
  color: green;
  background-color: lightsteelblue;
  font-family: 'Fira Code';
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 12pt;
  text-shadow: 2px 2px 2px #333;
  box-shadow: 3px 3px 3px #333;
}

.on  { visibility: "visible"; color: white; }
.off { visibility: "hidden";  color: blue;  }